# .coveragerc to control coverage.py
[run]
source = pycipher
branch = true
parallel = true

[paths]
source =
    src/pycipher
    **/site-packages/pycipher

[report]
show_missing = true
skip_covered = true